name: CI

on:
  workflow_dispatch:

jobs:
  detect-secrets:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: 
         pip instalar detect-secrets
    
     
